* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

header {
    background-color: #2965f1;
    padding: 23px 0;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100vh;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    /* font-weight: 400; */
    font-size: 18px;
    color: #303030;
}

.main-img {
    max-width: 715px;
}

.section-hobbies {
    background-color: #fff;
    padding: 100px 0;
}

.select-city {
    width: 150px;
/*     font-weight: 400; */
    font-size: 16px;
    color: #303030;
    background: url(./assets/ep_arrow-down.svg) no-repeat right 14.2px top 50%;
    appearance: none;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 36px;
    padding-left: 12px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: #303030;
    margin-bottom: 25px;
}

.list {
/*     font-weight: 400; */
    font-size: 16px;
    color: #303030;
}

.list-custom {
    padding-left: 22px;
    list-style: none;
    background: url(./assets/Vector.svg) no-repeat left 50%;
}


.list-number {
    padding-left: 20px;
}

.checkbox {
    margin-right: 4px;
}

.name {
/*     font-weight: 400; */
    font-size: 16px;
    color: #303030;
    margin-right: 6px;
}

.text-inp {
    background-color: #fff;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    padding: 9px 0px 8px 12px;
}

input[type="text"] {
/*     font-weight: 400; */
    font-size: 16px;
}

button {
    border: none;
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-left: 9px;
}

hr {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 1440px;
    height: 0px;
    margin: 60px 0;
}

table,
td,
th {
    border: 1px solid #95a1bb;
    border-collapse: collapse;
}

th {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #303030;
    padding: 12px 14px;
}

td {
/*     font-weight: 400; */
    font-size: 14px;
    color: #303030;
    padding: 10.75px 15px;
}

footer {
    padding: 26px 0px 27px;
    background-color: rgba(163, 167, 255, 0.3);
}

a {
/*     font-weight: 400; */
    font-size: 14px;
}

a:visited {
    text-decoration: none;
    color: #2965f1;
}