* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html,
body {
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    transition: .2s;
}

button:hover {
    transform: translateY(2px);
    cursor: pointer;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #363940;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #95a1bb;
}


.header {
    background-color: #0a61f7;
    padding: 14px 0px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.container {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
}


.menu-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;
}

.menu {
    display: flex;
    gap: 24px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    height: 800px;
}

.main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-title {
    line-height: 68px;
    font-size: 58px;
    font-weight: 500;
    color: #363940;
    margin-bottom: 30px;
}

.text.box {
    max-width: 380px;
    margin-bottom: 40px;
}

.button {
    border-radius: 4px;
    width: 152px;
    height: 51px;
    background-color: #0a61f7;

    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.main-img {
    margin-top: auto;
}


.rates-section {
    background-color: #f9fafc;
    padding: 100px 0;
}

.rates-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}

.table {
    margin-right: auto;
    margin-left: auto;
}

.rates-section .title {
    margin-bottom: 20px;
}

.rates-section .text {
    margin-bottom: 40px;
}



.table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #95a1bb;
    width: 240px;
    padding: 15px 0;
    text-align: center;
}

.table-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}

.table-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363940;
    text-align: left;
    padding-left: 20px;
}

.table-link {
    color: #0a61f7;
}

.table-button {
    border: 1px solid #0a61f7;
    border-radius: 4px;
    width: 140px;
    padding: 8px 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 19.60px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #0a61f7;
}

.table-subtitle.gray {
    color: #95a1bb;
}

.table-button.active {
    color: #fff;
    background: #0a61f7;
}

.table-footer td {
    padding: 30px 0px;
}

.create-account-section {
    padding: 100px 0px;
}

.create-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.create-content-wrapper {
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 480px;
}

.create-account-section .title {
    margin-bottom: 50px;
}

.create-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}

.list-item {
    list-style-image: url("./assets/Mask.svg");
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;
}

input,
select,
fieldset,
textarea {
    border-radius: 4px;
    border: 1px solid #95a1bb;
    padding: 14px 15px;
}

input,
select,
fieldset,
textarea,
label,
legend input::placeholder,
select::placeholder,
textarea::placeholder {
    color: #95a1bb;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    font-family: inherit;
}

input[type="text"] {
    width: 480px;
}

.input-wrapper {
    display: flex;
    gap: 20px;
}



input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 230px;
    height: 50px;
}

input[type="radio"],
input[type="checkbox"],
input[type="date"],
select {
    cursor: pointer;
}

.radio {
    max-width: 215px;
}

.label-radio {
    margin-right: 30px;
}


fieldset {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 92px;
    width: 480px;
    padding: 30px 15px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 8px;
}

textarea {
    width: 480px;
    min-height: 80px;
    resize: none;
}

form .button {
    width: 100%;
}

select {
    background: url(./assets/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./assets/Calendar.svg) no-repeat;
}

.footer {
    background: #0a61f7;
    text-align: center;
    padding: 20px 0px;
}

small {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
}