* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

.logo {
    width: 70px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 20px;
    font-size: 18px;
}

.navbar ul li a:hover {
    filter: drop-shadow(0 0 20px #0ff) drop-shadow(0 0 30px #0ff);
}

h1 {
    color: #333;
    font-size: 100px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1::before {
    content: attr(content);
    position: absolute;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #fff;
    color: #fff;
    animation: move 7s linear infinite;
    filter: drop-shadow(0 0 20px #0ff) drop-shadow(0 0 30px #0ff);
}

@keyframes move {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    padding: 10px 20px;
    border: 3px solid #0ff;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    filter: drop-shadow(0 0 20px #0ff);
}