@font-face {
    font-family: Muli;
    src: local('Muli'),
        url(./assets/fonts/Muli-Black.eot?) format("eot"),
        url(./assets/fonts/Muli-Black.woff2?) format("woff2"),
        url(./assets/fonts/Muli-Black.ttf) format("truetype");
    font-weight: black;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Muli;
    src: url(./assets/fonts/Muli-BoldItalic.eot?) format("eot"),
        url(./assets/fonts/Muli-BoldItalic.woff2?) format("woff2"),
        url(./assets/fonts/muli-bold-italic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Muli;
    src: url(./assets/fonts/Muli-Italic.eot?) format("eot"),
        url(./assets/fonts/Muli-Italic.woff2?) format("woff2"),
        url(./assets/fonts/muli-italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



p {
    font-family: Muli, sans-serif;
    font-weight: normal;
    font-style: italic;
}