body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: lightgray;
}

.box {
    width: 450px;
    border: 5px solid white;
    background-color: #ffeb3b;
}


p {
    color: rgb(219, 24, 24);
    text-align: left;
    text-transform: none;
    /* text-indent: 2em; */
    line-height: 1.2;
    word-spacing: normal;
    letter-spacing: normal;
    /* word-break: break-all; */
    hyphens: manual;
}

a {
    text-decoration: none;
}